.login {
	margin: auto;
	padding-top: 10px;
	margin-bottom:60px;
	width: 400px;
	height: 100%;
	background:#331D2C;
	border-radius: 20px;
	color: #fff;
	text-align: center;
}
.login_container {
	padding: 10px;
	background: white;
	border-radius: 20px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login_fields {
	margin:10px;
	margin-bottom: 40px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 40px;
}
.login_create_account{
	margin:20px;
	font-size:14px;
	color: black;
}