.signup {
	margin: auto;
	padding-top: 10px;
	margin-bottom:60px;
	width: 400px;
	height: 100%;
	background:#331D2C;
	border-radius: 20px;
	color: #fff;
	text-align: center;
}
.signup_container {
	padding: 10px;
	background: white;
	border-radius: 20px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.signup_fields {
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.signup_agree {
	margin-top:20px;
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
    gap:4px;
}
.signup_agree p{
	font-size: 14px;
	color: black;
}
.signup_login_account {
	margin:20px;
	font-size:14px;
	color: black;
}

